@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.App {
    background-color: #ffffff;    
    min-height: 100vh;
    text-align: center;
    
   
    --primary-color: rgb(17, 97, 147);
    --secondary-color: rgb(0, 232, 228);
}
